.result-container {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-container .message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.img-celebrating {
    background-image: url("../blocks/celebrating.png");
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}